//@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
    max-width: 1170px;
    margin: 0 auto;
}

#primary {
    grid-column: 1;
}

.widget .panel-body>ul {
    margin: 0;
    list-style: none;
}
